# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
/notes
.vscode/
script/*.s.sol
script/interfaces/
bash/
temp/*
.prettierignore
.prettierrc
slither.config.json
/analysis/__pycache__
/analysis/venv